.env
.env.local
.env.*.local
.git
.gitignore
.idea
.vscode
node_modules
vendor
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
.env.local
.env.*.local
tests
phpunit.xml
*.log
